<div id="login">

{{#if login.status}}
	Logged in as <em>{{login.user.username}}</em>, <a href="/page/{{data.pageKey}}?logout">Logout</a>
{{else}}

<form id="login_form" action="/page/{{data.pageKey}}" method="post">
<input type="hidden" name="function" value="login" />
<div>
	<label for="username">Username:</label>
	<input name="username" type="text"/>
</div>
<div>
	<label for="password">Password:</label>
	<input name="password" type="password"/>
</div>
<input type="submit" value="Login" />
</form>
{{/if}}
</div>