
<form id="login_form" action="/page/home" method="post">
<input type="hidden" name="function" value="login" />
<div>
	<label for="username">Username:</label>
	<input name="username" type="text"/>
</div>
<div>
	<label for="password">Password:</label>
	<input name="password" type="password"/>
</div>
<input type="submit" value="Login" />
</form>