<form id="create_form" action="/users/create" method="post">
	<input type="hidden" name="function" value="create" />
	<div>
		<label for="username">Username:</label>
		<input name="username" type="text" />
	</div>
	<div>
		<label for="first">First:</label>
		<input name="first" type="text" />
	</div>
	<div>
		<label for="email">Email Address:</label>
		<input name="email" type="email" />
	</div>
	<div>
		<label for="password">Password:</label>
		<input name="password" type="password" />
	</div>
	<input type="submit" value="Create" />
</form>